:root {
  --cognates-highlighted: rgba(255, 214, 0, 0.75);
  --challenging-text-highlighted: rgba(109, 238, 187, 0.75);
  --cognates-translated: #FFD600;
  --challenging-text-translated: #6DEEBB;
  --sections-titles:#464646;
}

.content-containers {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
}

.titles {
  margin: 0 0 10px 0;
  padding: 0%;
  text-align: left;
}
 
.paragraphs{
  font-size: 18px;
  line-height: 225%;
  margin: 0 0 5px 0;
  padding: 0%;
}
 
.translation {
  padding: 5px;
  display: none;
  margin-left: 3px;
}
 
.highlighted_cognates {
  background: linear-gradient(120deg, var(--cognates-highlighted) 0%, var(--cognates-highlighted) 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 120%;
  cursor: pointer;
}
 
.cognates_translations {
  background-color: var(--cognates-translated);
}
 
.highlighted-challenging_words {
  background: linear-gradient(120deg, var(--challenging-text-highlighted) 0%, var(--challenging-text-highlighted) 100%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 120%;
  cursor: pointer;
}
 
.challenging_words_translations {
  background-color: var(--challenging-text-translated);
}
 
 
 
  
 
  
 
 
  
  