.container_activity_info {
  background-image: url("./practice_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-areas: 
    "video title"
    "video instructions"
    "disclaimer disclaimer"
    "socialmedia socialmedia"
  ;
  margin: auto;
  padding: 2% 5% 2% 5%;
  text-align: center;
}

.container_content_title {
  grid-area: title;
}

.content_title {
  font-size: 32px;
}

.video_container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: video;
  height: calc(40vw * (2.5 / 4));
  width: 40vw;
}

.video_container iframe {
  width: 100%;
  height: 100%;
}

.container_activity_instructions {
  grid-area: instructions;
  margin: 0 10%;
}

.activity_instructions {
  font-size: 20px;
}

.container_creator_disclaimer {
  background-color: #DB4D89;
  grid-area: disclaimer;
  margin-top: 3%;
  width: 100%;
}

.creator_disclaimer {
  color: white;
  font-size: 16px;
  padding: 30px;
}

.container_creator_social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: socialmedia;
}

.creator_social_media {
  margin-top: -30px;
  width: 40px;
  height: 40px;
}


.content_containers {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75vw;
}

.titles {
  margin: 0 0 10px 0;
  padding: 0%;
  text-align: left;
}

.paragraphs {
  font-size: 18px;
  line-height: 225%;
  padding: 0%;
}

.translation {
  padding: 5px;
  display: none;
  margin-left: 3px;
}

.highlighted_cognates {
  background: linear-gradient(
    120deg,
    rgba(255, 214, 0, 0.75) 0%,
    rgba(255, 214, 0, 0.75) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 120%;
  cursor: pointer;
}

.cognates_translations {
  background-color: #ffd600;
}

.highlighted-challenging_words {
  background: linear-gradient(
    120deg,
    rgba(109, 238, 187, 0.75) 0%,
    rgba(109, 238, 187, 0.75) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 120%;
  cursor: pointer;
}

.challenging_words_translations {
  background-color: #6deebb;
}

/* @media (orientation: portrait) and (max-width: 750px) {

} */